<footer class="footer text-muted bg-hyper-dark">
  <div class="container">
    <span>© <%= Date.today.year %> <%= Rails.application.config.authors %></span>
    <ul class="list-inline mb-0 float-right">
    </ul>
  </div>
</footer>
