// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

html {
  scrollbar-color: hsla(0,0%,100%,.2) transparent;
}

.big-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.bb-white {
  border-bottom: 2px solid;
}

body > .container {
  padding: 40px 15px;

  @media screen and (max-width: 575.98px) {
    #movies_container {
      .movie {
        max-width: 100%;
        width: 100%;
        margin: .5rem 0;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .movie-show {
      flex-wrap: wrap !important;
    }

    .movie-img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

}

body, table, .table {
  color: rgba(255, 255, 255, 0.85);
}

.table-hover tbody tr:hover {
  color: rgba(255, 255, 255, 0.95);
}

.no-movies {
  color: rgba(200, 200, 200, 1);
  font-style: italic;
  margin: 0 auto;
}

.mr-3-all {
  * {
    margin-right: 1rem !important;
  }
}

.torrent-source {
  padding: 0 .5rem;
  margin: .5rem 0;
}

.torrent-link {
  padding: .5rem;
  margin: .5rem 0;
  border: 1px solid rgba(255, 255, 255, .85);
  transition: all .3s ease;
  text-decoration: none;
  color: #fff;
  position: relative;

  &.icon {
    font-size: 1rem;
  }

  &:hover {
    background-color: rgba(255, 255, 255, .25);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  .stored {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(102, 255, 119, 0.25);
    z-index: -1;
  }
}

.locale-select {
  color: rgba(0, 0, 0, .7);

  &:hover {
    color: rgba(0, 0, 0, .90);
    text-decoration: none;
  }

  &.locale-selected {
    color: green;
    font-weight: bold;
  }

  &.nav-link {
    display: inline-block !important;
  }
}

.page-link {
  background-color: #333;
  border-color: rgba(0, 0, 0, .15);
  color: $navbar-dark-color;

  &:hover {
    color: $navbar-dark-color;
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(0, 0, 0, .15);
  }
}

.account-avatar {
  width: 15rem;
  height: 15rem;
}

.navbar-hyper-dark {
  .navbar-brand {
    color: $navbar-dark-brand-color;

    @include hover-focus() {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus() {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-dark-toggler-icon-bg);
  }

  .navbar-text {
    color: $navbar-dark-color;
    a {
      color: $navbar-dark-active-color;

      @include hover-focus() {
        color: $navbar-dark-active-color;
      }
    }
  }
}

.bg-hyper-dark {
  background-color: #333;

  .dropdown-item {
    color: $navbar-dark-color;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  .dropdown-divider {
    border-top: 1px solid #212121;
  }
}

.body-hyper-dark {
  background-color: #212121;
}

.movie-poster {
  position: relative;
}

.watched-tag {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;

  .watched-tag-transform {
    position: absolute;
    top: -16px;
    right: -16px;
    padding: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);

    background-color: #cc7b19;
  }
}

.movie {
  width: 15rem;
  max-width: 25rem;
  margin: .5rem;
  flex: auto;
  overflow: hidden;
  position: relative;
  transition: all .5s ease-in-out;
  cursor: pointer;

  .movie-detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease .25s;
    -moz-box-shadow:    inset 0 0 2.5rem #000000;
    -webkit-box-shadow: inset 0 0 2.5rem #000000;
    box-shadow:         inset 0 0 2.5rem #000000;

    .movie-detail-container {
      width: 100%;
      height: 100%;
      display: flex;
      display: -ms-flex;

      .detail-card {
        padding: .5rem;
        color: rgba(200, 200, 200, 1);
        height: 8rem;
        width: 100%;
        margin-top: auto;
        background: linear-gradient(transparent 0, rgba(0, 0, 0, .8) 50%, black 100%);

        .title {
          text-transform: uppercase;
          font-weight: bold;
          color: white;
        }

      }
    }
  }

  img {
    transition: all ease .25s;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }

    .movie-detail {
      opacity: 1;
    }
  }
}

.comments-body {
  .comment-title {
    border-bottom: 2px solid #fff;
    span {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  .comments {
    .card {
      background: #333;
      border: 1px solid rgba(0, 0, 0, .15);
    }
  }
}

.video-container {
  width: 100%;

  video {
    width: 100%;
  }
}

/*
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
*/
